In [206]:
import pandas as pd

In [207]:
df = pd.read_csv('Online_Retail.csv', encoding='iso-8859-1')

In [208]:
df.sample(10)

,INVOICE_NO,STOCK_CODE,DESCRIPTION,QUANTITY,INVOICE_DATE,UNIT_PRICE,CUSTOMER_ID,REGION
204723,554694,21528,DAIRY MAID TRADITIONAL TEAPOT,1,25/05/2020 17:06,13.29,NaN,United Kingdom
472580,576690,22898,CHILDRENS APRON APPLES DESIGN,2,16/11/2020 12:19,1.95,15900.0,United Kingdom
387624,570342,22427,ENAMEL FLOWER JUG CREAM,6,10/10/2020 12:26,5.95,17706.0,United Kingdom
16997,537670,21463,MIRRORED DISCO BALL,2,08/12/2019 09:07,5.95,13078.0,United Kingdom
114953,546096,22560,TRADITIONAL MODELLING CLAY,24,09/03/2020 11:59,1.25,15502.0,United Kingdom
354749,567898,20724,RED RETROSPOT CHARLOTTE BAG,10,22/09/2020 16:20,0.85,13394.0,United Kingdom
142758,548636,21507,ELEPHANT BIRTHDAY CARD,12,01/04/2020 12:29,0.42,15601.0,United Kingdom
321939,565211,23357,HOT WATER BOTTLE SEX BOMB,4,01/09/2020 17:14,4.95,16638.0,United Kingdom
113380,545978,21448,12 DAISY PEGS IN WOOD BOX,3,08/03/2020 12:19,1.65,13975.0,United Kingdom
438752,574328,21625,VINTAGE UNION JACK APRON,6,04/11/2020 09:05,6.95,13081.0,United Kingdom

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   INVOICE_NO    541909 non-null  object
 1   STOCK_CODE    541909 non-null  object
 2   DESCRIPTION   540455 non-null  object
 3   QUANTITY      541909 non-null  int64
 4   INVOICE_DATE  541909 non-null  object
 5   UNIT_PRICE    541909 non-null  float64
 6   CUSTOMER_ID   406829 non-null  float64
 7   REGION        541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [210]:
#cambio del nombre de las columnas a minusculas
new_col_name = []

for old_name in df.columns:
    name_stripped = old_name.strip()
    # Luego, pon todas las letras en minúsculas
    name_lowered = name_stripped.lower()
    # Por último, reemplaza los espacios entre palabras por guiones bajos
    name_no_spaces = name_lowered.replace(' ', '_')
    # Agrega el nuevo nombre a la lista de nuevos nombres de columna
    new_col_name.append(name_no_spaces)

df.columns = new_col_name

In [211]:
#cambio de tipo de la columna invoce_date a datetime
df['invoice_date']=pd.to_datetime(df['invoice_date'], format="%d/%m/%Y %H:%M")

In [212]:
#se llenan los nan de la columna customer_id con 0
df['customer_id'] = df['customer_id'].fillna(0)

In [213]:
#cambio del tipo de la columna customer_id a entero
df['customer_id'] = df['customer_id'].astype(int)

In [214]:
df.sample(10)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
297809,562955,21843,RED RETROSPOT CAKE STAND,4,2020-08-11 10:14:00,20.79,0,United Kingdom
53808,540848,22171,3 HOOK PHOTO SHELF ANTIQUE WHITE,2,2020-01-12 09:26:00,16.98,0,United Kingdom
284988,561894,22817,CARD SUKI BIRTHDAY,12,2020-07-31 15:00:00,0.42,14456,United Kingdom
114848,546091,21094,SET/6 RED SPOTTY PAPER PLATES,24,2020-03-09 11:53:00,0.85,14936,Channel Islands
462249,575970,21929,JUMBO BAG PINK VINTAGE PAISLEY,2,2020-11-13 12:50:00,2.08,16416,United Kingdom
29443,538799,22242,5 HOOK HANGER MAGIC TOADSTOOL,1,2019-12-14 11:48:00,1.65,15039,United Kingdom
249468,558904,23167,SMALL CERAMIC TOP STORAGE JAR,1,2020-07-04 16:18:00,1.63,0,United Kingdom
476123,576933,84086C,PINK/PURPLE RETRO RADIO,2,2020-11-17 11:29:00,2.95,15529,United Kingdom
212056,555406,23159,SET OF 5 PANCAKE DAY MAGNETS,3,2020-06-02 19:50:00,2.08,17231,United Kingdom
96824,544586,10133,COLOURING PENCILS BROWN TUBE,4,2020-02-21 15:04:00,0.85,17338,United Kingdom

In [215]:
df['region'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [216]:
#se remplaza el nombre de los paises agregaqdos como EIRE y RSA para unificar todos los nombres en ingles y mayusculas y minusculas 
df['region']= df['region'].replace('EIRE', 'Ireland')

In [217]:
df['region']= df['region'].replace('RSA', 'Sudafrica')

In [218]:
df['region'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'Ireland', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'Sudafrica'], dtype=object)

In [219]:
#verificacion de los valores menores a cero en la columan quantity. Aun falta determinar que tratamiento se le daran a estos datos 
df[df['quantity'] < 0]

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
141,C536379,D,Discount,-1,2019-12-01 09:41:00,27.50,14527,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2019-12-01 09:49:00,4.65,15311,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2019-12-01 10:24:00,1.65,17548,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2019-12-01 10:24:00,0.29,17548,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2019-12-01 10:24:00,0.29,17548,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2020-12-09 09:57:00,0.83,14397,United Kingdom
541541,C581499,M,Manual,-1,2020-12-09 10:28:00,224.69,15498,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2020-12-09 11:57:00,10.95,15311,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2020-12-09 11:58:00,1.25,17315,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2020-12-09 11:58:00,1.25,17315,United Kingdom

In [220]:
#verificacion de los valores menores a cero en la columan unit_price. Aun falta determinar que tratamiento se le daran a estos datos 
df[df['unit_price'] < 0]

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
299983,A563186,B,Adjust bad debt,1,2020-08-12 14:51:00,-11062.06,0,United Kingdom
299984,A563187,B,Adjust bad debt,1,2020-08-12 14:52:00,-11062.06,0,United Kingdom

In [221]:
#creacion de una nueva columana que calcula el total vendido por factura 
df['total'] = df['quantity'] * df['unit_price']

In [222]:
#se convierten las descripciones a minuscula para unificar el formato 
df['description'] = df['description'].str.lower()

In [223]:
df.sample(10)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region,total
282567,561651,22884,number tile vintage font 5,1,2020-07-28 15:36:00,4.13,0,United Kingdom,4.13
295037,562769,20727,lunch bag black skull.,10,2020-08-09 10:52:00,1.65,14409,United Kingdom,16.50
30616,538877,21671,red spot ceramic drawer knob,1,2019-12-14 15:29:00,3.36,0,United Kingdom,3.36
401112,571425,22950,36 doilies vintage christmas,12,2020-10-17 12:41:00,1.45,14911,Ireland,17.40
361565,568346,85039C,s/4 black mini rose candle in bowl,2,2020-09-26 15:28:00,1.63,14096,United Kingdom,3.26
146567,548993,22980,pantry scrubbing brush,48,2020-04-05 13:56:00,1.45,12753,Japan,69.60
8010,537081,85114B,ivory enchanted forest placemat,24,2019-12-05 12:00:00,1.65,15332,Lithuania,39.60
425769,573338,23245,set of 3 regency cake tins,2,2020-10-30 11:47:00,4.95,14546,United Kingdom,9.90
86745,543597,22675,french kitchen sign blue metal,12,2020-02-10 12:32:00,1.25,12857,United Kingdom,15.00
310881,564216,21086,set/6 red spotty paper cups,12,2020-08-24 09:23:00,0.65,12642,Germany,7.80

In [224]:
#verificar que no existe ningun valor 0 en la columna quantity; sin embargo tener en cuenta que si existen aun menores a 0 
df[df['quantity'] == 0]

Empty DataFrame
Columns: [invoice_no, stock_code, description, quantity, invoice_date, unit_price, customer_id, region, total]
Index: []

In [225]:
#se decide eliminar del dataframe los datos que en unit_price y en customer_id sean iguales a 0, dado que consideramos no aportan ningun informacion util para futuros analisis
ceros = df.query(('unit_price == 0 & customer_id == 0'))
display(ceros)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region,total
622,536414,22139,NaN,56,2019-12-01 11:52:00,0.0,0,United Kingdom,0.0
1970,536545,21134,NaN,1,2019-12-01 14:32:00,0.0,0,United Kingdom,0.0
1971,536546,22145,NaN,1,2019-12-01 14:33:00,0.0,0,United Kingdom,0.0
1972,536547,37509,NaN,1,2019-12-01 14:33:00,0.0,0,United Kingdom,0.0
1987,536549,85226A,NaN,1,2019-12-01 14:34:00,0.0,0,United Kingdom,0.0
...,...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,2020-12-08 10:33:00,0.0,0,United Kingdom,0.0
538504,581406,46000M,polyester filler pad 45x45cm,240,2020-12-08 13:58:00,0.0,0,United Kingdom,0.0
538505,581406,46000S,polyester filler pad 40x40cm,300,2020-12-08 13:58:00,0.0,0,United Kingdom,0.0
538554,581408,85175,NaN,20,2020-12-08 14:06:00,0.0,0,United Kingdom,0.0
538919,581422,23169,smashed,-235,2020-12-08 15:24:00,0.0,0,United Kingdom,-0.0

In [226]:
#verificacion relacionado con los datos eliminados 
ceros['description'].unique()

array([nan, 'amazon', '?', 'check', 'damages',
       'cream sweetheart letter rack', 'zinc willie winkie  candle stick',
       'box of 24 cocktail parasols', 'doormat english rose ',
       'doormat 3 smiley cats', 'green regency teacup and saucer',
       'french blue metal door sign 7', 'french blue metal door sign 5',
       'french blue metal door sign 6', 'french blue metal door sign 4',
       'french blue metal door sign no', 'french blue metal door sign 8',
       'french blue metal door sign 1', 'red kitchen scales',
       'ivory kitchen scales', 'set of 6 soldier skittles',
       'childs garden trowel blue ', 'childrens garden gloves blue',
       'picnic basket wicker small', 'picnic basket wicker large',
       'empire union jack tv dinner tray',
       'tv dinner tray vintage paisley', 'spaceboy tv dinner tray',
       'tv dinner tray dolly girl', 'childs garden spade blue',
       'childs garden rake blue', 'watering can pink bunny',
       'enamel fire bucket cream', 'enamel flower jug cream',
       'airline bag vintage jet set white',
       'airline bag vintage jet set brown',
       'airline bag vintage world champion ',
       'airline bag vintage tokyo 78', '4 traditional spinning tops',
       'full english breakfast plate', 'childrens apron spaceboy design',
       'doormat airmail ', 'glass jar digestive biscuits',
       'glass jar peacock bath salts', 'glass jar english confectionery',
       'glass jar daisy fresh cotton wool', 'glass jar kings choice',
       'lunch box with cutlery fairy cakes ', 'illustrated cat bowl ',
       'round snack boxes set of 4 skulls', 'owl doorstop',
       'milk pan pink polkadot', 'holiday fun ludo',
       'vintage snakes & ladders', 'traditional wooden skipping rope',
       'strawberry lunch box with cutlery',
       'red retrospot sugar jam bowl', 'lunch bag woodland',
       'blue polkadot luggage tag ', 'blue polkadot passport cover',
       'strawberry ceramic trinket box', 'pack of 6 birdy gift tags',
       'faulty', 'dotcom sales', 'amazon sales',
       'white skull hot water bottle ', 'chocolate hot water bottle',
       'charlotte bag pink polkadot', 'found',
       'hot water bottle tea and sympathy', 'travel sewing kit',
       'set/20 red retrospot paper napkins ',
       'fawn blue hot water bottle', 'grow your own plant in a can ',
       'red retrospot childrens umbrella', 'red retrospot charlotte bag',
       'porcelain butterfly oil burner',
       'white hanging heart t-light holder',
       'set of 16 vintage black cutlery',
       'teatime funky flower backpack for 2', 'childs garden brush blue',
       'chilli lights', 'doormat hearts', 'retro "tea for one" ',
       'biscuit tin vintage green', 'biscuit tin vintage red',
       'doormat home sweet home blue ', 'jumbo bag red retrospot',
       'french blue metal door sign 0', 'french blue metal door sign 9',
       'french blue metal door sign 3', 'french blue metal door sign 2',
       'recipe box pantry yellow design',
       'recipe box blue sketchbook design',
       'ceramic pirate chest money bank', 'ceramic love heart money bank',
       'black kitchen scales', 'wheelbarrow for children ',
       'childrens garden gloves pink', 'doorstop racing car design',
       'skull design tv dinner tray', 'watering can blue elephant',
       'enamel wash bowl cream', 'airline bag vintage jet set red',
       'kings choice biscuit tin', 'red retrospot tea cup and saucer ',
       'vintage heads and tails card game ', 'bingo set',
       'red retrospot butter dish', 'victorian sewing box large',
       'woodland charlotte bag', 'reverse 21/5/10 adjustment',
       'mouldy thrown away.', 'blue spot ceramic drawer knob',
       'white spot blue ceramic drawer knob', 'regency cakestand 3 tier',
       'counted', 'given away', 'dotcom', 'label mix up',
       'samples/damages', 'thrown away', 'incorrectly made-thrown away.',
       'mint kitchen scales', 'seaside flying disc',
       'heart of wicker large', 'doormat respectable house',
       'glass jar marmalade ', 'coffee mug dog + ball design',
       'pink doughnut trinket pot ', 'doormat red retrospot',
       'lunch bag suki design ', 'jumbo bag strawberry',
       'key fob  garage design', 'roses regency teacup and saucer ',
       'pink regency teacup and saucer', 'doormat merry christmas red ',
       'strawberry fairy cake teapot', 'showroom', 'mia', 'adjustment',
       'dotcom set', 'wrongly sold as sets', 'amazon sold sets',
       'dotcom sold sets', 'wrongly sold sets', '? sold as sets?',
       '?sold as sets?', 'thrown away.', 'damages/display',
       'damaged stock', 'broken', 'throw away',
       'polyester filler pad 40x40cm', 'polyester filler pad 45x45cm',
       'wrong barcode (22467)', 'wrongly sold (22719) barcode',
       'doormat welcome to our home', 'box of vintage jigsaw blocks ',
       'childs garden trowel pink', 'enamel watering can cream',
       'circus parade lunch box ', 'ceramic strawberry money box',
       'wrong barcode', 'barcode problem', '?lost',
       "thrown away-can't sell.", "thrown away-can't sell",
       'rcvd be air temp fix for dotcom sit', 'damages?',
       're dotcom quick fix.', "dotcom sold in 6's", 'sold in set?',
       'cracked', 'sold as 22467', 'damaged',
       'chick grey hot water bottle', 'mystery! only ever imported 1800',
       'merchant chandler credit error sto', 'possible damages or lost?',
       'did  a credit  and did not tick ret', 'display', 'missing',
       'returned', 'wrong code?', 'wrong code', 'adjust', 'crushed',
       'damages/showroom etc', 'samples', 'damages/credits from asos.',
       'mailout ', 'mailout', 'black mini tape measure ',
       'baking set spaceboy design', 'asstd multicolour circles mug',
       'set of 20 kids cookie cutters',
       'box of 6 assorted colour teaspoons', 'dotcom postage',
       'not rcvd in 10/11/2010 delivery', 'thrown away-rusty',
       'sold as set/6 by dotcom', 'wet/rusty', 'damages/dotcom?',
       'on cargo order', 'ceramic strawberry cake money bank',
       'ceramic cherry cake money bank',
       'ceramic heart fairy cake money bank', 'piggy bank retrospot ',
       'childs garden brush pink', 'childs garden spade pink',
       'doormat neighbourhood witch ', 'coffee mug cat + bird design',
       'milk pan red retrospot', 'wooden box of dominoes',
       'enamel colander cream', 'frying pan blue polkadot',
       'union stripe with fringe  hammock', 'jumbo bag toys ',
       'childs garden fork pink', 'childs garden fork blue ', 'smashed',
       'incorrectly credited c550456 see 47',
       'reverse previous adjustment', 'wet damaged', 'water damaged',
       'sold as set on dotcom', 'sold as set on dotcom and amazon',
       'water damage', 'sold as set by dotcom',
       'printing smudges/thrown away',
       'to push order througha s stock was ', 'found some more on shelf',
       'show samples', 'mix up with c', 'jumbo bag spaceboy design',
       'toy tidy spaceboy  ', 'mouldy unsaleable.',
       'travel card wallet dotcomgiftshop', 'pack of 12 london tissues ',
       'spotty bunting', 'wrongly marked. 23343 in box',
       'came coded as 20713', 'alan hodge cant mamage this section',
       'vintage leaf magnetic notepad', 'fba', 'stock creditted wrongly',
       'ebay', 'incorrectly put back into stock', 'damages/samples',
       'sold as 1 on dotcom', 'taig adjust no stock', 'party metal sign ',
       'garage key fob', 'key fob  shed', 'key fob  back door ',
       'dinosaur lunch box with cutlery', 'toadstool money box',
       'code mix up? 84930', '?display?', 'sold as 1', '?missing',
       'crushed ctn', 'test', 'temp adjustment', 'taig adjust',
       'allocate stock for dotcom orders ta', '??',
       'add stock to allocate online orders', 'for online retail orders',
       'found box', 'oops ! adjustment', 'found in w/hse',
       'website fixed', 'dagamed', 'historic computer difference?....se',
       'lighthouse trading zero invc incorr', 'incorrect stock entry.',
       'michel oops', 'wrongly coded 20713', 'wrongly coded-23343',
       'stock check', 'crushed boxes', 'wet/mouldy', "can't find",
       'mouldy', 'wet pallet-thrown away', 'had been put aside.',
       'sale error', 'amazon adjustment', 'wrongly marked 23343',
       '20713 wrongly marked', 're-adjustment', 'breakages',
       'marked as 23343', '20713', 'wrongly coded 23343',
       'found by jackie', 'unsaleable destroyed.', 'wrongly marked',
       'had been put aside', 'damages wax',
       'wrongly mrked had 85123a in box', 'wrongly marked carton 22804',
       'missing?', 'wet rusty', 'amazon adjust', '???lost', 'dotcomstock',
       'john lewis', 'sold with wrong barcode', 'dotcom adjust',
       'rusty thrown away', 'rusty throw away', 'check?', '?? missing',
       'wet pallet', '????missing', '???missing', 'lost in space', 'wet?',
       'lost??', 'fridge magnets les enfants assorted',
       'classic glass cookie jar', '???', 'wet', 'wet boxes',
       '????damages????', 'mixed up', 'lost'], dtype=object)

In [227]:
#verificacion relacionado con los datos eliminados 
ceros['region'].unique()

array(['United Kingdom', 'Ireland'], dtype=object)

In [228]:
#verificacion relacionado con los datos eliminados 
ceros['invoice_date'].dt.year.unique()

array([2019, 2020])

In [229]:
#verificacion relacionado con los datos eliminados 
ceros['invoice_date'].dt.month.unique()

array([12,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [230]:
#se filta el data frame despues de las verificaciones anteriores para conservar unicamente los datos que sean diferentes a 0 
df = df.query(('unit_price != 0 & customer_id != 0'))

In [231]:
df.sample(20)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region,total
109152,545587,21870,i can only please one person mug,2,2020-03-04 09:46:00,1.25,14796,United Kingdom,2.50
49135,540504,21755,love building block word,2,2020-01-09 11:02:00,5.95,13668,United Kingdom,11.90
538325,581405,20686,dolly mixture children's umbrella,1,2020-12-08 13:50:00,3.25,13521,United Kingdom,3.25
264083,560078,21915,red harmonica in box,12,2020-07-14 16:12:00,1.25,16040,United Kingdom,15.00
353959,567853,22434,balloon pump with 10 balloons,2,2020-09-22 13:31:00,1.95,15484,United Kingdom,3.90
6435,536945,22956,36 foil heart cake cases,1,2019-12-03 12:24:00,2.10,14083,United Kingdom,2.10
399807,571286,23405,home sweet home 2 drawer cabinet,1,2020-10-16 14:35:00,4.95,14547,United Kingdom,4.95
111036,545710,84947,antique silver tea glass engraved,12,2020-03-07 09:52:00,1.25,13117,United Kingdom,15.00
273969,560872,84380,set of 3 butterfly cookie cutters,12,2020-07-21 14:41:00,1.25,14745,United Kingdom,15.00
471276,576628,21731,red toadstool led night light,12,2020-11-16 08:28:00,1.65,13449,United Kingdom,19.80
217931,555946,21243,pink polkadot plate,6,2020-06-08 10:43:00,1.69,17238,United Kingdom,10.14
401152,571426,85099B,jumbo bag red retrospot,10,2020-10-17 12:41:00,2.08,15179,United Kingdom,20.80
452723,575369,22834,hand warmer babushka design,12,2020-11-09 15:09:00,2.10,16655,United Kingdom,25.20
58488,541244,22113,grey heart hot water bottle,1,2020-01-16 12:35:00,3.75,15535,United Kingdom,3.75
490354,578045,22972,children's spaceboy mug,1,2020-11-22 14:43:00,1.65,17297,United Kingdom,1.65
218418,556042,22624,ivory kitchen scales,1,2020-06-08 12:44:00,8.50,14367,United Kingdom,8.50
446037,574869,21485,retrospot heart hot water bottle,3,2020-11-07 12:44:00,4.95,12708,Germany,14.85
9241,537196,47567B,tea time kitchen apron,1,2019-12-05 13:55:00,5.95,15426,United Kingdom,5.95
404196,571670,23559,woodland bunnies lolly makers,6,2020-10-18 13:12:00,2.08,12611,Italy,12.48
395668,571039,23294,set of 6 snack loaf baking cases,8,2020-10-13 12:59:00,0.83,16121,United Kingdom,6.64

In [233]:
#se verificaron los posibles datos duplicados en todas las columanas posibles y concluimos que los duplicados existentes son coherentes. No se elimina ninguno
df['stock_code'].duplicated().sum()

403105